.techfont {
  font-family: 'Song Myung', serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bigbrand {
  font-size: 1.5em;
}

.centerstage {
  margin-left: auto;
  margin-right: auto;
}

.posttitle{
  font-family: 'Baloo Thambi', cursive;
  font-size: 3em;
  text-align: center;
}

.pdate{
  font-family: 'Song Myung', serif;
  font-size: 1em;
}

.postcontent{
  font-family: 'Song Myung', serif;
  font-size: 1em;
}

.btn-comment{
  position: absolute;
  right: 0px;
}
